<div class="top-bar-holder">
    <h1>MySMSApp</h1>
    @if (storageService.isEmpty()) {
        <form (ngSubmit)="onSubmit($event)" #topBar="ngForm">
            <div class="input-row">
                <label>Email: </label>
                <input id="email" 
                       type="text" 
                       name="email" 
                       [(ngModel)]="userData.user['email']"
                       required
                       #email="ngModel"
                       email
                />
            </div>
            <div class="invalid-form">
                @if (email.errors && topBar.submitted) {
                    <div class="error-msg">
                        @if (email.errors['required']) {
                        <div>Email is required</div>
                        }
                        @if (email.errors['email']) {
                        <div>Email must be a valid email address</div>
                        }
                    </div>
                }

            </div>
            <div class="input-row">
                <label>Password:  </label>
                <input id="password" 
                       type="text" 
                       name ="password" 
                       [(ngModel)]="userData.user['password']"
                       #password="ngModel"
                       required
                       minlength="6"
                       > 
            </div>
            @if (password.errors && topBar.submitted) {
                <div class="error-msg">
                    @if (password.errors['required']) {
                    <div class="error-msg">Password is required</div>
                    }
                    @if (password.errors['minlength']) {
                    <div class="error-msg">Password must be at least 6 characters</div>
                    }
                </div>
            }
            <div class="button-container">
                <button [disabled]="topBar.invalid" type="submit" id="signup">Sign Up</button>
                <button [disabled]="topBar.invalid" type="submit" id="login">Log In</button>
                @if (topBar.submitted && (isSignupFailed || isLoginFailed)) {
                    <div class="alert alert-warning error-msg">
                      Failure!<br />{{ errorMessage }}
                    </div>
                    }
            </div>

        </form>
    } @else {
        <p>Welcome, {{this.storageService.getUser().email}}</p>
        <button (click)="onSignout()"> Sign Out </button>
    }

</div>
