<h2> New Message </h2>
@if (storageService.isEmpty()) {
    <p>Log in or sign up to send a message!</p>
} @else {
    <form class="message-creator-form" (ngSubmit)="onSubmit()" #messageCreator="ngForm">
        <label>Phone Number: </label>
        <input id="phoneNumber" type="text" name="phone" [(ngModel)]="textMessage['phoneNumber']"/>
        <label>Message: </label>
        <textarea id="message" type="text" name ="message" [(ngModel)]="textMessage['message']"></textarea>
        <button type="submit">Submit</button>
        @if (this.errorMessage.length > 0) {
            <p> Message Creation Error: {{this.errorMessage}}</p>
        }
    </form>
}


